{{ define "main" }}
<div class="container">
    <h1>{{ i18n "projects" }}</h1>
    {{ .Content }}
    
    <style>
        .project-card {
            text-decoration: none;
            color: inherit; /* Uses the parent element's text color */
        }
        .project-card:visited {
            color: inherit; /* Keeps the color consistent even after visiting */
        }
    </style>
    
    <div class="project-list">
        {{ range .Pages }}
        <a href="{{ .RelPermalink }}" class="project-card">
            {{ with .Params.image }}
            <div class="project-image">
                <img src="{{ . }}" alt="{{ $.Title }}">
            </div>
            {{ end }}
            <div class="project-card-content">
                <h3>{{ .Title }}</h3>
                {{ .Summary }}
                <span class="read-more"> >> {{ i18n "readMore" }}</span>
            </div>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}