<header>
    <div class="header-container">
        <div class="logo-container">
            <a href="{{ .Site.Home.RelPermalink }}">
                <img class="logo" src="{{ .Site.Params.mainLogo }}" alt="{{ .Site.Title }}">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL | relLangURL }}" {{ if $currentPage.IsMenuCurrent "main" . }}class="active"{{ end }}>
                        {{ i18n .Identifier | default .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <div class="lang-switcher">
            {{ range .Translations }}
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
        </div>
    </div>
</header>