{{ define "main" }}
<div class="home-container">
    <div class="home-content">
        <h1>{{ .Title }}</h1>
        <div class="home-description">
            {{ .Content }}
        </div>
        <p class="meeting-info">{{ i18n "meetingInfo" }}</p>
        <div class="cta-button">
            <a href="{{ "contact" | relLangURL }}" class="contact-btn">{{ i18n "contact" }}</a>
        </div>
    </div>
    <div class="home-image">
        <!-- Large SVG Rotary wheel -->
        <img src="{{ .Site.Params.mainLogo }}" alt="Rotary Wheel" class="large-wheel">
    </div>
</div>
{{ end }}